<h6 class="hb">Image Positioning</h6>
<p>
<div class="btn-group" data-toggle="buttons-radio">
  <label class="btn btn-inverse btn-mini disabled">Background Repeat:</label>
  <label class="btn btn-mini"><i class="icon-resize-horizontal"></i> Horizontal</label>
  <label class="btn btn-mini"><i class="icon-resize-vertical"></i> Vertical</label>
  <label class="btn btn-mini"><i class="icon-remove"></i> None</label>
</div></p>

<p>
<div class="btn-group" data-toggle="buttons-radio">
  <label class="btn btn-inverse btn-mini disabled">Background Position:</label>
  <label class="btn btn-mini"><i class="icon-align-left"></i> Left</label>
  <label class="btn btn-mini"><i class="icon-align-center"></i> Center</label>
  <label class="btn btn-mini"><i class="icon-align-right"></i> Right</label>
</div></p>

<p>
<div class="btn-group" data-toggle="buttons-radio">
  <label class="btn btn-inverse btn-mini disabled">Background Attachment:</label>
  <label class="btn btn-mini"><i class="icon-move"></i> Fixed</label>
  <label class="btn btn-mini"><i class="icon-arrow-down"></i> Scroll</label>
</div></p>