    <div id="profile-player" class="well" style="padding:5px">
      <div class="btn-group">
        <button
        class="btn btn-danger"><i
        class="icon-play"></i></button>
        <button

        class="btn btn-danger"><i
        class="icon-pause"></i></button>
        <button

        class="btn btn-danger"><i
        class="icon-stop"></i></button>
        <button

        class="btn btn-warning"><i
        class="icon-volume-down"></i></button>
        <button

        class="btn btn-warning"><i
        class="icon-volume-up"></i></button>
        <button

        class="btn btn-inverse"><i
        class="icon-step-backward"></i></button>
        <button

        class="btn btn-inverse"><i
        class="icon-step-forward"></i></button>
        <button

        class="btn btn-inverse disabled"><i
        class="icon-headphones"></i> Now Playing: <strong>Roam</strong></button>
      </div>
    </div>