<% provide(:title, 'About') %>
<div class="row">
  <div class="span8 offset2">
    <div class="well">
      <h1 class="hb">The Mozapolis Solution</h1>

      <p>Mozapolis uniquely combines elements of social networking and internet technology with traditional
        entertainment industry components and best practices to create a new media business model with the potential to
        establish a game-changing and highly lucrative new entertainment industry business paradigm.</p>

      <p>Mozapolis' new model will effectively address the needs of both aspiring artists as well as the business
        demands of the music industry. Our novel new approach removes the "un-solicited" barriers that artists face
        trying to break into the music business, opening the potential to uncover and develop a wide variety of unknown
        talent, while simultaneously introducing a new revenue model that eliminates the traditional dependence on
        volume sales of CD's.</p>

      <p>Mozapolis is a full service music business that leverages the powerful social networking aspects of an
        interactive online community in conjunction with all facets of record label operations, including producing and
        recording, artist management, marketing, promotion and publicity, music publishing, distribution and licensing.
        Our innovation is applying internet technology and social media networking principles to convert A&R from a
        primary cost center into a sustainable, profitable revenue generating process.</p>

      <p>Mozapolis is the only music business entity to monetize artist discovery and development, produce and
        commercially market music, as well as provide an online resource and community for aspiring musical artists of
        all types worldwide.</p>
    </div>
  </div>
</div>