<div class="row" style="display:none;">
  <div class="span12">
    <div class="monster">
      <h1>Welcome to Mozapolis</h1>

      <p>We're about to change the music industry forever, but for now we're in stealth mode. </p>
      <section>
        <div class="progress progress-striped progress-warning active">
          <div class="bar" style="width: 40%;"></div>
        </div>
      </section>
      <p>We're getting close! <a class="btn btn-large btn-primary">Learn More</a></p>
    </div>
  </div>
</div>
<div class="row">
  <div id="top-artist" class="span12">
    <h2 class="hb"><i class="icon-star"></i> Top Artists</h3>
      <ul class="thumbnails">
        <li class="span4">
          <div class="thumbnail">
            <img src="/assets/example/top_artist.jpg" alt="">
            <h5><a href="#">The Story So Far</a></h5>

            <p>A good rule for rocket experimenters to follow is this: always assume that it will explode.</p>

            <div class="btn-group">
              <a href="#" class="btn btn-mini btn-danger"><i class="icon-user"></i> Profile</a>
              <a href="#" rel="tooltip" title="Popup Player" class="btn btn-mini btn-warning"><i class="icon-external-link"></i></a>
            </div>
          </div>
        </li>

        <li class="span4">
          <div class="thumbnail">
            <img src="/assets/example/top_artist2.jpg" alt="">
            <h5><a href="#">The Story So Far</a></h5>

            <p>A good rule for rocket experimenters to follow is this: always assume that it will explode.</p>

            <div class="btn-group">
              <a href="#" class="btn btn-mini btn-danger"><i class="icon-user"></i> Profile</a>
              <a href="#" rel="tooltip" title="Popup Player" class="btn btn-mini btn-warning"><i class="icon-external-link"></i></a>
            </div>
          </div>
        </li>

        <li class="span4">
          <div class="thumbnail">
            <img src="/assets/example/top_artist.jpg" alt="">
            <h5><a href="#">The Story So Far</a></h5>

            <p>A good rule for rocket experimenters to follow is this: always assume that it will explode.</p>

            <div class="btn-group">
              <a href="#" class="btn btn-mini btn-danger"><i class="icon-user"></i> Profile</a>
              <a href="#" rel="tooltip" title="Popup Player" class="btn btn-mini btn-warning"><i class="icon-external-link"></i></a>
            </div>
          </div>
        </li>
      </ul>
  </div>
</div>
<hr>
<div class="row">
  <div class="span5">
    <h2 class="hb"><i class="icon-user"></i> Listen and follow your favorite artists! </h2>
    <ul class="thumbnails">
      <li class="span5">
        <a href="#" class="thumbnail">
          <img src="http://placehold.it/760x280" alt="">
        </a>
      </li>
    </ul>
    <p>The surface is fine and powdery. I can kick it up loosely with my toe. It does adhere in fine layers, like
      powdered charcoal, to the sole and sides of my boots. I only go in a small fraction of an inch, maybe an eighth of
      an inch, but I can see the footprints of my boots and the treads in the fine, sandy particles. There seems to be
      no difficult in moving around, as we suspected.</p>
    <ul>
      <li class="icon-ok">A good rule for rocket experimenters to follow is this: always assume that it will explode.
      </li>
      <li class="icon-ok">That's one small step for [a] man; one giant leap for mankind.</li>
      <li class="icon-ok">A good rule for rocket experimenters to follow is this: always assume that it will explode.
      </li>
    </ul>
    <p>
      <a href="#" class="btn btn-success"><i class="icon-user"></i> Fan Signup!</a>
      Fan signup for free. What are you waiting for?
    </p>
    <hr>

    <h2 class="hb"><i class="icon-user"></i> Are you an artist or musican? </h2>
    <ul class="thumbnails">
      <li class="span5">
        <a href="#" class="thumbnail">
          <img src="http://placehold.it/760x280" alt="">
        </a>
      </li>
    </ul>
    <p>The surface is fine and powdery. I can kick it up loosely with my toe. It does adhere in fine layers, like
      powdered charcoal, to the sole and sides of my boots. I only go in a small fraction of an inch, maybe an eighth of
      an inch, but I can see the footprints of my boots and the treads in the fine, sandy particles. There seems to be
      no difficult in moving around, as we suspected.</p>
    <ul>
      <li class="icon-ok">A good rule for rocket experimenters to follow is this: always assume that it will explode.
      </li>
      <li class="icon-ok">That's one small step for [a] man; one giant leap for mankind.</li>
      <li class="icon-ok">A good rule for rocket experimenters to follow is this: always assume that it will explode.
      </li>
    </ul>
    <p>
      <a href="#" class="btn btn-danger"><i class="icon-headphones"></i> Learn More</a>
      Artist signups are in beta!
    </p>

  </div>
  <div class="span4">
    <h2 class="hb"><i class="icon-music"></i> Popular Songs</h3>
      <table class="table table-bordered table-striped">
        <thead>
        <tr>
          <th>Track</th>
          <th>Plays</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td><a href="#" class="btn btn-mini btn-danger"><i class="icon-play"></i></a> <a href="#">Quicksand</a> by
            <a href="#">The Story So Far</a></td>
          <td>3,432</td>
        </tr>
        <tr>
          <td><a href="#" class="btn btn-mini btn-danger"><i class="icon-play"></i></a> <a href="#">World at Large</a>
            by <a href="#">Modest Mouse</a></td>
          <td>1,222</td>
        </tr>
        <tr>
          <td><a href="#" class="btn btn-mini btn-danger"><i class="icon-play"></i></a> <a href="#">Quicksand</a> by
            <a href="#">The Story So Far</a></td>
          <td>3,432</td>
        </tr>
        <tr>
          <td><a href="#" class="btn btn-mini btn-danger"><i class="icon-play"></i></a> <a href="#">World at Large</a>
            by <a href="#">Modest Mouse</a></td>
          <td>1,222</td>
        </tr>
        <tr>
          <td><a href="#" class="btn btn-mini btn-danger"><i class="icon-play"></i></a> <a href="#">Quicksand</a> by
            <a href="#">The Story So Far</a></td>
          <td>3,432</td>
        </tr>
        <tr>
          <td><a href="#" class="btn btn-mini btn-danger"><i class="icon-play"></i></a> <a href="#">World at Large</a>
            by <a href="#">Modest Mouse</a></td>
          <td>1,222</td>
        </tr>
        <tr>
          <td><a href="#" class="btn btn-mini btn-danger"><i class="icon-play"></i></a> <a href="#">Quicksand</a> by
            <a href="#">The Story So Far</a></td>
          <td>3,432</td>
        </tr>
        <tr>
          <td><a href="#" class="btn btn-mini btn-danger"><i class="icon-play"></i></a> <a href="#">World at Large</a>
            by <a href="#">Modest Mouse</a></td>
          <td>1,222</td>
        </tr>
        <tr>
          <td><a href="#" class="btn btn-mini btn-danger"><i class="icon-play"></i></a> <a href="#">World at Large</a>
            by <a href="#">Modest Mouse</a></td>
          <td>1,222</td>
        </tr>
        <tr>
          <td><a href="#" class="btn btn-mini btn-danger"><i class="icon-play"></i></a> <a href="#">World at Large</a>
            by <a href="#">Modest Mouse</a></td>
          <td>1,222</td>
        </tr>

        </tbody>
      </table>

      <h2 class="hb"><i class="icon-th-large"></i> Newest Albums</h2>
      <ul class="thumbnails">
        <li class="span2">
          <a href="#" class="thumbnail" rel="popover" title="Album by Artist" data-content="I only go in a small fraction of an inch, maybe an eighth of an inch, but I can see the footprints of my boots and the treads in the fine, sandy particles.">
            <img src="/assets/example/album1.jpg" alt="">
          </a>
        </li>
        <li class="span2">
          <a href="#" class="thumbnail" rel="popover" title="Album by Artist" data-placement="left" data-content="I only go in a small fraction of an inch, maybe an eighth of an inch, but I can see the footprints of my boots and the treads in the fine, sandy particles.">
            <img src="/assets/example/album1.jpg" alt="">
          </a>
        </li>
        <li class="span2">
          <a href="#" class="thumbnail" rel="popover" title="Album by Artist" data-content="I only go in a small fraction of an inch, maybe an eighth of an inch, but I can see the footprints of my boots and the treads in the fine, sandy particles.">
            <img src="/assets/example/album1.jpg" alt="">
          </a>
        </li>
        <li class="span2">
          <a href="#" class="thumbnail" rel="popover" title="Album by Artist" data-placement="left" data-content="I only go in a small fraction of an inch, maybe an eighth of an inch, but I can see the footprints of my boots and the treads in the fine, sandy particles.">
            <img src="/assets/example/album1.jpg" alt="">
          </a>
        </li>

      </ul>


  </div>
  <div class="span3">
    <h2 class="hb"><i class="icon-flag"></i> Contests</h3>
      <ul class="thumbnails">
        <li class="span3">
          <a href="#" class="thumbnail">
            <img src="/assets/example/contest.jpg" alt="">
          </a>
        </li>
      </ul>
      <div class="well" style="padding:17px;">
        <h6>Contest Disclaimer</h6>

        <p>The surface is fine and powdery. I can kick it up loosely with my toe. It does adhere in fine layers... The
          surface is fine and powdery. </p>
      </div>
      <table class="table table-bordered table-striped">
        <thead>
        <tr>
          <th>Contest</th>
          <th>Days Left</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td><a href="#">The Story So Far</a></td>
          <td>3,432</td>
        </tr>
        <tr>
          <td><a href="#">Modest Mouse</a></td>
          <td>1,222</td>
        </tr>
        <tr>
          <td><a href="#">The Story So Far</a></td>
          <td>3,432</td>
        </tr>
        <tr>
          <td><a href="#">Modest Mouse</a></td>
          <td>1,222</td>
        </tr>
        </tbody>
      </table>
  </div>
  <div class="span3">
    <h6>Advertisement</h6>
    <ul class="thumbnails">
      <li class="span3">
        <a href="#" class="thumbnail">
          <img src="http://placehold.it/600x250" alt="">
        </a>
      </li>
    </ul>
  </div>
</div>
