<% provide(:title, 'How It Works') %>
<div class="row">
  <div class="span8 offset2">
    <div class="well">
      <h1 class="hb">How It Works</h1>

      <p>Mozapolis eliminates the extensive and costly travel, nightly club visits and traditional .wining and dining.
        of old fashioned A&R by leveraging the power, scalability and economy of the internet to automate and localize
        the A&R function. The Mozapolis website will function as a virtual A&R department, creating a readily accessible
        portal accepting music submissions online 24 hours a day / 7 days a week / 365 days a year from anywhere in the
        world. Artists simply upload three files of musical content for review for a small submission fee, initially set
        at $148 per submission.</p>

      <p>Unlike traditional record labels and the various independent A&R services, Mozapolis guarantees that all
        musical content submitted will be evaluated by veteran music industry professionals, giving artists a legitimate
        chance of being discovered. Mozapolis. experienced staff of music industry pro's will listen to and evaluate
        every submission for commercial viability and potential audience appeal, critique and provide constructive
        criticism feedback.</p>

      <p>The Mozapolis team.s goal is to select an average of three promising new artists per year to sign. Utilizing
        our inhouse team.s deep expertise along with a broad network of resources and contacts across the entertainment
        industry, we will promote the artists and their music with extensive publicity, radio campaigns and touring,
        pursue song placements in films and TV, and manage CD sales, online song downloads and licensing for our signed
        artists.</p>

      <p>With our extensive industry contacts, we also have the option, like the independent A&R services, to pass along
        talent at our discretion to other record labels for a percentage of the artists' earnings.</p>

      <p>Mozapolis. online music submission model assures a steady and growing stream of new talent submissions by
        creating compelling opportunities for new artists to fulfill their career dreams. The music submission fees will
        generate the company.s primary revenue stream, so unlike .old school. record companies, Mozapolis is not
        dependent on CD sales as the company.s main source of revenue. However, over time, as we sign more artists, we
        expect CD sales and online music downloads to also develop into healthy secondary revenue streams.</p>

    </div>
  </div>
</div>