<div class="row">
	<div class="span12">

		<%= render 'shared/search' %>
	</div>
</div>
<div class="row">
	<div class="span8">
		<h2 class="hb"><i class="icon-star"></i> Top Artists</h3>
		<ul class="thumbnails">
		  <li class="span4">
		    <div class="thumbnail">
		      <img src="/assets/example/top_artist.jpg" alt="">
		      <h5><a href="#">The Story So Far</a></h5>
			  <div class="btn-group">
			    <a href="#" class="btn btn-mini btn-danger"><i class="icon-user"></i> Profile</a>
			    <a href="#" rel="tooltip" title="Popup Player" class="btn btn-mini btn-warning"><i class="icon-external-link"></i></a>
			  </div>
		    </div>
		  </li>

		  <li class="span4">
		    <div class="thumbnail">
		      <img src="/assets/example/top_artist2.jpg" alt="">
		      <h5><a href="#">The Story So Far</a></h5>
			  <div class="btn-group">
			    <a href="#" class="btn btn-mini btn-danger"><i class="icon-user"></i> Profile</a>
			    <a href="#" rel="tooltip" title="Popup Player" class="btn btn-mini btn-warning"><i class="icon-external-link"></i></a>
			  </div>
		    </div>
		  </li>

		  <li class="span4">
		    <div class="thumbnail">
		      <img src="/assets/example/top_artist.jpg" alt="">
		      <h5><a href="#">The Story So Far</a></h5>
			  <div class="btn-group">
			    <a href="#" class="btn btn-mini btn-danger"><i class="icon-user"></i> Profile</a>
			    <a href="#" rel="tooltip" title="Popup Player" class="btn btn-mini btn-warning"><i class="icon-external-link"></i></a>
			  </div>
		    </div>
		  </li>

		  <li class="span4">
		    <div class="thumbnail">
		      <img src="/assets/example/top_artist.jpg" alt="">
		      <h5><a href="#">The Story So Far</a></h5>
			  <div class="btn-group">
			    <a href="#" class="btn btn-mini btn-danger"><i class="icon-user"></i> Profile</a>
			    <a href="#" rel="tooltip" title="Popup Player" class="btn btn-mini btn-warning"><i class="icon-external-link"></i></a>
			  </div>
		    </div>
		  </li>
		</ul>
	</div>
	<div class="span4">
		<h2 class="hb"><i class="icon-star"></i> Top Albums</h3>
              <ul class="thumbnails">
                <li class="span2">
                  <a href="#" class="thumbnail">
                    <img src="http://placehold.it/600x600" alt="">
                  </a>
                </li>
                <li class="span2">
                  <a href="#" class="thumbnail">
                    <img src="http://placehold.it/600x600" alt="">
                  </a>
                </li>
                <li class="span2">
                  <a href="#" class="thumbnail">
                    <img src="http://placehold.it/600x600" alt="">
                  </a>
                </li>
                <li class="span2">
                  <a href="#" class="thumbnail">
                    <img src="http://placehold.it/600x600" alt="">
                  </a>
                </li>

              </ul>
	</div>
</div>