<% provide(:title, 'Team') %>
<div class="row">
  <div class="span8 offset2">
    <div class="well">
      <h1 class="hb">Mozapolis Core Team Bios</h1>

      <p>
        <img src="http://placehold.it/150x200" style="float:left;padding:10px;"/>

      <h3>President and CEO: Mozy Mosanko</h3>
      Mozy Mosanko is an entertainment industry veteran with a deep understanding of all aspects of the music industry.
      His many areas of expertise include A&R; artist development; artist brand / image creation, development and career
      management; music distribution, marketing and promotion; TV and film production; media, film and television
      placement, licensing and royalties. During his many successful years at Jive Records/Zomba Group of Labels/SonyBMG
      Music Mozy played an integral role in discovering, creatively developing and promoting some of their largest stars
      including artists like Justin Timberlake, Britney Spears, Pink, Usher, Outkast, Buddy Guy, Ciara, R Kelly, Weird
      Al, Bowling for Soup, Nick Lachey, T Pain, YoungBloodz, Backstreet Boys, and NSYNC. His efforts were instrumental
      in gaining lucrative exposure for these and other artists to a global audience through music placement in
      productions, soundtracks and single tie-in's with film, TV, commercials, trailers, promos and other media outlets.
      </p>

      <p>
        <img src="http://placehold.it/150x200" style="float:left;padding:10px;"/>

      <h3>COO and EVP Marketing: Eileen Sullivan</h3>
      Eileen Sullivan is a senior executive and serial entrepreneur who brings over twenty-five years of experience in
      business and marketing, including extensive experience in the international marketplace, to Mozapolis. A veteran
      of six start-ups, two successful turn-arounds and several mergers and acquisitions, Eileen is a creative,
      innovative thinker and results-oriented, bottom- line-driven business professional and team leader experienced in
      business operations and all B2B and B2C marketing disciplines. During her career she has helped companies launch
      operations from the ground up, grow from zero to $50 million within 4 years, and land spots on the prestigious
      Inc. 500 annual list. Eileen has served on the Boards of the American Marketing Association, the Forum for Women
      Entrepreneurs, and Women Executives and Entrepreneurs; been a guest lecturer at California State University/Los
      Angeles graduate school of business program in their Entrepreneurship Institute and a guest speaker at the UCLA
      Anderson School of Management Business Entrepreneurship Conferences. Awards include the Public Relations Society
      of America (PRSA) Silver Anvil and the Bell Ringer Award for Excellence in Communications. Prior to Mozapolis,
      Eileen was the managing partner of Agilis Associates, a management consulting and outsource marketing, sales and
      business development services firm which she founded in 1999 and has run profitably for more than eleven years.
      </p>

      <p>
        <img src="http://placehold.it/150x200" style="float:left;padding:10px;"/>

      <h3>VP A&R: Pablo Mathiason</h3>
      Pablo Mathiason is a music and entertainment industry executive with over twenty years experience in A&R,
      discovering, developing and promoting artists worldwide. Pablo has built an impressive track record in analyzing
      markets, spotting up-and-coming cultural trends, finding promising new artists, establishing strong images and
      brands, and managing career development from discovery to global recognition and chart-topping success. Pablo
      served as Senior Director A&R for Columbia Records, Jive Records/Zomba Music Publishing and Chrysalis Music. His
      expertise encompasses managing and collaborating with cross-functional teams on album production, devising and
      implementing international marketing strategies including radio, video, touring and album distribution, and
      securing lucrative high-visibility music placements for artists in TV, films and soundtracks. Pablo helped pioneer
      new mass market music distribution channels as Director A&R for the Starbucks Entertainment division, where he
      played an integral role in building the Starbucks Entertainment business unit. In his recent work with a major
      global environmental advocacy group, he engaged stars like Susan Sarandon, William Shatner, Alicia Silverstone,
      Daryl Hannah, Hayden Panettiere, Woody Harrelson and Ted Danson to publicly support initiatives on critical issues
      like climate change and ocean preservation. As VP A&R for Mozapolis, he will lead the A&R team in identifying the
      most promising artist submissions, providing creative guidance and career development support to signed artists,
      and helping with artist image creation, branding and promotion.
      </p>

      <p>
        <img src="http://placehold.it/150x200" style="float:left;padding:10px;"/>

      <h3>VP Business Development: Albert Fernandez</h3>
      Albert Fernandez brings more than a decade of solid entertainment industry business experience to Mozapolis.
      Albert has extensive hands-on experience with strategic licensing, business development, project and product
      management and finance. His proven ability to analyze critical business requirements and identify both
      deficiencies and potential opportunities enable him to develop innovative and cost-effective solutions to drive
      brand awareness and increase revenue through strategic relationships. As Director, Licensing for Warner Brothers
      Interactive Entertainment, Albert established licensing strategy and managed account and partner relationships,
      with full accountability for the annual P&L for the licensing group, consistently out-performing year over year
      forecasts. He led his team in negotiating all license opportunities, ensuring that strategic partnerships worked
      in concert with the company's global publishing and distribution strategy to streamline operations, reduced costs
      and improve profitability. He excelled at turning films, TV shows and publishing releases into highly publicized
      consumer events by building strategic partnerships with quick service restaurants (QSR), toy companies, and
      interactive games. He was also instrumental in establishing Warner Interactive's critical partnerships with high
      level global industry leaders such as Nintendo, Sony, Microsoft, Rad Tools, Nvidia, INTEL, Marvel, Konami and
      Ubisoft. As VP Business Development his main focus will be building brand awareness for Mozapolis and our signed
      artists through creating and nurturing partnerships with select licensees and digital distribution companies.
      </p>

      <p>
        <img src="http://placehold.it/150x200" style="float:left;padding:10px;"/>

      <h3>Senior Director, A&R: Mollie Moore</h3>
      Mollie Moore's ingrained love of music, sharp ear for raw talent and fresh perspective on the latest youth market
      trends have made her extraordinarily successful in her decade-long fast- tracked music industry career. That
      career began in radio when Mollie won a "DJ for a Day" contest at Boston's Alternative radio station WBCN, and did
      such a great job that the station hired her on as a disc jockey. She worked the DJ gig until she graduated from
      college and moved to Los Angeles to pursue a music industry career. Mollie got her start in A&R assisting the
      Senior Vice President A&R at RCA/BMG Records. She parlayed that experience into working front line A&R, scouting
      new acts for Velvet Hammer Music and Management. She was quickly promoted to full time A&R scout for Velvet
      Hammers' prestigious joint venture with Columbia Records. Less than a year later, Mollie was recruited by Atlantic
      Records as their Director A&R. At Atlantic A&R she works with top acts such as Kid Rock, Jason Mraz, Rush, Missy
      Elliott, Paulo Nutini and Stone Temple Pilots, as well as discovering and handling new artists like Kitten - a
      fresh young band that was named Artist of the Year and best new discovery at this year's South by Southwest (SXSW)
      music industry conference in Austin, Texas. In addition to the mainstream pop music market, Mollie also has
      developed relationships in highly profitable niche markets like the large and growing Christian music genre.
      </p>

      <p>
        <img src="http://placehold.it/150x200" style="float:left;padding:10px;"/>

      <h3>Director, Touring and A&R: Chris Tschupp</h3>
      Chris Tschupp is a seasoned veteran with extensive experience in arranging and managing all of the complex
      logistics and day to day operations for worldwide live performance tours. Touring will be a crucial element in
      promoting and building worldwide awareness for Mozapolis artists and music, and Chris will shoulder the burden of
      managing our tour operations to ensure that every artist tour runs smoothly, on time and on budget.Chris has been
      on the road touring with some of today's hottest, biggest drawing acts including Rush, Maroon Five, Counting
      Crows, Augustana, Peter Frampton, Earth Wind and Fire, Gin Blossoms, Tim McGraw, and John Mellencamp. Chris also
      has an excellent ear for "the next big thing" in music, and the advantage of getting exposure on the road to
      what's hot in different geographic markets. So in addition to his primary duties of tour management, he will also
      play an instrumental role in A&R scouting viral and social media. This bio needs one more line break to push
      content down.
      </p>

      <p>
        <img src="http://placehold.it/150x200" style="float:left;padding:10px;"/>

      <h3>Director, Business Development and A&R: Colton Mitchell</h3>
      Colton Mitchell is an aggressive young music industry exec who got his start with Jive records, and then honed his
      skills and experience at Mosanko Media Group.Colton will be responsible for A&R scouting duties and creative
      development for company acquisitions. He will also play a vital role in brand awareness, artist promotion and
      worldwide visibility as the executive in charge of special events and location scouting. He began his career as
      the Special Coordinator for the Creative Development and A&R Department at Jive Records/Zomba Group of Labels/
      SonyBMG. In this role, he worked closely with senior executives on a day to day basis, assisting with promotions
      for Jive artists like Justin Timberlake, Ciara, Pink, Britney Spears, Bowling For Soup and Outkast and gaining
      first-hand experience in the demands of the music industry and record label operations. Moving into A&R and artist
      development at MMG, Colton took on responsibility for booking artist performances at clubs, concert venues and
      radio stations, coordinating promotional media, managing a 20-person guerilla marketing "street team" and handling
      online networking and social media marketing via sites like MySpace, Facebook, Twitter, IMEEM and Purevolume.
      </p>

      <p>
        <img src="http://placehold.it/150x200" style="float:left;padding:10px;"/>

      <h3>Publicity (outsource contractor): Gina Orr</h3>
      Veteran publicist Gina Orr brings a wealth of PR and promotional experience and a vast network of market
      influencing media contacts to her work with Mozapolis. Most recently Gina headed up publicity for "American Idol"
      and 19 Entertainment, the highly successful record company that works with "Idol's" winners and top finalists.
      Prior to her work with American Idol, Gina directed publicity for Jive Records and its roster of artists. She
      devised PR strategies and managed global publicity campaigns and initiatives that made household names out of
      artists like Britney Spears, Justin Timberlake, Pink, NSYNC, Backstreet Boys, and Nick Lachey. We look to Gina to
      manage all of the publicity for Mozapolis and our signed artists. She will represent us as the front line of
      contact with all media outlets including newspapers, magazines and TV. As such, Gina will be instrumental in
      helping us gain visibility, awareness and mindshare for Mozapolis and our unique suite of services, and in
      establishing a solid positive reputation in the industry. She will also play a pivotal role in helping break our
      artists and rapidly garner brand awareness to fast track their career trajectories.
      </p>

    </div>
  </div>
</div>