  <footer>
    <div class="container-fluid">
        <div class="container">
          <div class="row">
            <div class="span4" style="text-align:center;">
              <h1>&copy; Mozapolis 2012</h1> 
              <p>All Rights Reserved. <br />
              Questions, Suggestions, Bugs? <br />
              </p>
            </div>
            <div class="span2">
              <h4>On The Web</h4>
              <ul>
                <li><i class="icon-facebook-sign"></i> <a href="#">Facebook</a></li>
                <li><i class="icon-twitter-sign"></i> <a href="#">Twitter</a></li>
                <li><i class="icon-github-sign"></i> <a href="#">Github</a></li>
                <li><i class="icon-lemon"></i> <a href="#">Blog</a></li>
              </ul>
            </div>
            <div class="span2">
              <h4>Helpful Links</h4>
              <ul>
                <li><i class="icon-info-sign"></i> <a href="#">About</a></li>
                <li><i class="icon-asterisk"></i> <a href="#">Getting Started</a></li> 
                <li><i class="icon-user"></i> <a href="#">Team</a></li> 
                <li><i class="icon-question-sign"></i> <a href="#">FAQ</a></li>
              </ul>
            </div>
            <div class="span2">
              <h4>Browse</h4>
              <ul>
                <li><i class="icon-bar-chart"></i> <a href="#">Charts</a></li>
                <li><i class="icon-pushpin"></i> <a href="#">Featured</a></li>
                <li><i class="icon-star"></i> <a href="#">New Artists</a></li>
                <li><i class="icon-headphones"></i> <a href="#">New Songs</a></li> 
              </ul>
            </div>
            <div class="span2">
              <h4>Resources</h4>
              <ul>
                <li><i class="icon-eye-open"></i> <a href="#">Privacy Policy</a></li>
                <li><i class="icon-list"></i> <a href="#">Terms of Service</a></li> 
                <li><i class="icon-book"></i> <a href="#">Legal</a></li>
                <li><i class="icon-flag"></i> <a href="#">Copyright Info</a></li>
              </ul>
            </div>
          </div>
        </div>
    </div>
  </footer>